certifi==2018.11.29
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==2.1.5
django-crispy-forms==1.7.2
django-filter==2.0.0
django-rest-framework==0.1.0
djangorestframework==3.9.0
drfdocs==0.0.11
idna==2.8
itypes==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
psycopg2==2.7.6.1
pytz==2018.9
requests==2.21.0
uritemplate==3.0.0
urllib3==1.24.1
gunicorn
django-cors-headers==2.4.0
